/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* HEADER */
.wrapper {
	max-width: 876px;
	margin: 0 20px;
}
body {
	width: 0 auto;
}

.header {
	display: inline-block;
	width: 100%;
}

nav {
	/* position: fixed; */
	color: grey;
}

nav a {
	text-decoration: none;
	padding: 1px 15px;
	color: rgb(88, 87, 87);
	margin-bottom: 50px;
	font-size: 14px;
}

.logo {
	padding-top: 25px;
	padding-bottom: 0;
	padding-left: 125px;
}

.intro {
	margin-top: 25px;
	/* width: 100%; */
	
}

.hero-text {
	width: 50%;
	/* padding: 30px; */
	text-align: center;
	margin: 40px;
}

.hero-image {
	/* width: 50%; */
	margin: 25px 0 25px 80px;
	
	
}

h1 {
	font-size: 48px;
}

p {
	font-size: 14px;
}

h3 {
	font-size: 18px;
}

.full-width {
	width: 100%;
}

.half-width {
	display: inline-block;
	width: 45%;
	padding-bottom: 10px;
	margin: 15px;
}

.third-width {
	display: inline-block;
	width: 30%;
	margin: 5px;
	padding: 10px 1px;
}



h6 {
	font-size: 12px;
	text-align: center;
	margin: 20px;
}

footer p {
	font-size: 14px;
}

span {
	font-size: 12px;
}